.form-wrapper
=simple_form_for @post, html:{class: 'form-vertical', multipart: true} do |t|
  .form-group
    =t.input :image
  .form-group.text-center
    =t.input :caption
  .form-group.text-center
    =t.button :submit, class: 'btn_success'
