#content
=simple_form_for @post, html:{class: 'form-vertical', multipart: true} do |t|
  .form-group
    =t.input :image, as: :file
  .form-group.text-center
    =t.input :caption, label: 'Caption'
  .form-group.text-center
    =t.button :submit, class: 'btn_success'
